* {
  margin: 0;
  padding: 0;
}

html {
  background: #ffffff;
  user-select: none;
}

.threejs {
  position: fixed;
  left: 0;
  top: 0;
  outline: none;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  font-family: "Cabin", sans-serif;
  color: #191f28;
  text-transform: uppercase;
  font-size: 7vmin;
  margin-left: 10%;
  margin-right: 10%;

  p {
    font-size: 3vmin;
    margin-top: 2vmin;
  }
}

.description {
  margin-top: 20%;
}

.margin-top {
  margin-top: 8%;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.space-between {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.color-button {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.color-button:not(:first-child) {
  margin-left: 16px;
}

/* .selected::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(49, 130, 246);
  box-sizing: border-box;
} */

.z9999 {
  z-index: 9999;
}
