* {
  margin: 0;
  padding: 0;
}

html {
  background: #ffffff;
}

.threejs {
  outline: none;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  font-family: "Cabin", sans-serif;
  color: #191f28;
  text-transform: uppercase;
  font-size: 10vmin;
  padding-left: 10%;
  padding-right: 10%;

  p {
    font-size: 3vmin;
    margin-top: 2vmin;
  }
}

.description {
  margin-top: 10%;
}

.margin-top {
  margin-top: 8%;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.space-between {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.badges {
  min-width: 480px;
}

.badge {
  padding: 0.5vmin 1vmin;
  background: #4e5968;
  color: #1e1a20;
  font-size: 2vmin;
  text-transform: none;
}

.badge:checked {
  background: blue;
}

.active {
  background: blue;
  color: #4e5968;
}

.color-button {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.color-button:not(:first-child) {
  margin-left: 16px;
}

.selected::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(49, 130, 246);
  box-sizing: border-box;
}
